<div class="text-center">
  <h2>Please use <a href="https://www.google.com/chrome">Google Chrome</a></h2>
  <br>
  <p>LanguageJoint.com makes use of Google's Web Speech API, which requires a recent version of Google Chrome to function.
  You'll also probably need to be viewing this on a desktop computer - the Chrome app on an ipad or phone probably won't work.</p>
  <p>If you don't have it already, go ahead and download Google Chrome (it'll only take a minute), open it up and come back here.</p>
  <p><a href="https://www.youtube.com/watch?v=fQTPuv_dJaE">Click here to see a 42 second video demo of LanguageJoint.com</a></p>
</div>
