<div class="row">

  <center><h5><b>Searching for a native {{currentUser.remoteLanguage}} speaker...</b></h5></center>

        {{#unless status}}

        {{else}}

        {{/unless}}


</div>

<br>

<div class="row">
<center><img src="/images/loader.gif"></center>
</div>

<br>

<div class="row text-center">
  {{link-to "Return to homepage" "home"}}
</div>